
.navbar-nav{
    display: flex;
    width: 100%;
    gap: 24px;
    padding: 8px 0px 8px 0px;
}

.navbarSpace{
    display: flex;
    width: 200px;
}

.testing1{
    font-size: 24px;
}

.container-fluid{
    gap: 24px;
}

.searchInput{
    width: 100%;
    justify-content: center;
    gap:8px;
}

.modalCheck{
    padding: 16px 0px 16px 0px;
    gap: 16px;
}

.modal-title{
    width: 100%;
}

.recipeContainer{
    padding: 16px 16px;
}

.infoSpacing{
    line-height: 24px;
    padding: 16px 0px;
}
